*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-image: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
   max-width: 90%;
   min-width: 30%;
   height: 60vh;
   border-radius: 10px;
   margin: 0 auto;
   
}
.container h1{
  margin: 10px 30px;
  color: orangered;
}
span{
  color: dodgerblue;
}
.container p{
  margin: 30px;
  color: dodgerblue;
  font-size: large;
  font-weight: bolder;
}
form{
justify-content: center;
margin: 10%;
}
.your-inputs input{
  width: 100%;
  margin: 3%;
  border: none;
  text-indent: 15px;
  height: 5vh;

}
.your-inputs input:focus{
  width: 100%;
  margin: 3%;
  border: none;
  text-indent: 15px;
  height: 5vh;
  outline: none;

}
p a{
  text-decoration: none;
  padding-left: 10px;
  color: white;
}
.logo{
  color: orangered;
}
button{
  height: 5vh;
  width: 100%;
  background-color: orangered;
  border: none;
  margin: 3%;
}